:root {
    --link-active: #4D5AE5;
    --link-hover-btn: #4D5AE5;
    --logo-color: #4D5AE5;
    --active-color: #404BBF;
    --auch-color: #434455;
    --main-color: #434455;
    --link-hover: #434455;
    --link-color: #2E2F42;
    --logo-color-second: #2E2F42;
    --sybtitle-color: #2E2F42;
    --white-color: #FFFFFF;
    --button-color: #F4F4FD;
    --logo-footer: #F4F4FD;
    --same-white-color: #E7E9FC;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2E2F42;
}


/*----------------- Logo ------------------*/

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--logo-color-second);
}

.logo_span {
    color: var(--logo-color);
}

.logo_footer {
    color: var(--logo-footer);
}


/*----------------- Navigetion ------------------*/

.nav {}

.nav__list> {}

.nav__item {
    list-style: none;
}

.nav__item--current {}

.nav__link {
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
    color: var(--link-color);
}

.nav__link:hover {
    color: var(--link-hover);
}

.nav__link:active,
.nav__link:focus {
    color: var(--link-active);
}

.active {}

.nav__item>.item-auth {
    line-height: 1.5;
    color: var(--auch-color);
    text-decoration: none;
}

.nav__item>.item-auth:hover,
.nav__item>.item-auth:focus {
    color: var(--link-active);
}


/*----------------- Hero ------------------*/

.hero {
    background-color: var(--link-color);
}

.title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white-color);
}


/*----------------- Buttoon ------------------*/

.btn {
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    padding: 16px 32px;
    color: var(--white-color);
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--link-active);
}

.btn:hover,
.btn:focus {
    background-color: var(--link-hover-btn);
}

.btn:active {
    background-color: var(--active-color);
}


/* Portfolio */

.button {
    font-family: inherit;
    cursor: pointer;
    color: var(--link-active);
    font-weight: 600;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 1.5;
    background: var(--button-color);
    border: 1px solid var(--same-white-color);
}

.button:active,
.button:hover,
.button:focus {
    color: var(--white-color);
    background-color: var(--link-active);
}


/*----------------- Section ------------------*/

.section-item>.section-list {
    list-style: none;
}

.section {}

.section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
}

.section-sybtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.section-text {
    line-height: 1.2;
    color: var(--main-color);
}

.user__list {}

.user-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.user-text {
    line-height: 1.2;
    color: var(--main-color);
}


/*----------------- Footer ------------------*/

.footer {
    background-color: var(--link-color);
}

.footer__text {
    line-height: 1.5;
    color: var(--same-white-color);
}


/*----------------- Protfolio ------------------*/

.filter-link {
    list-style: none;
}

.item-filter {
    list-style: none;
}

.item-text {
    line-height: 1.5;
    color: var(--button-color);
}

.link-filter {
    color: var(--link-color);
    text-decoration: none;
}

.subtitile {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-color);
}

.subtitile {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--sybtitle-color);
}