body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #2E2F42;
}

:root {
    --color-iris: #4D5AE5;
    --color-iris-active: #404BBF;
    --color-navy-blue: #2E2F42;
    --color-slate: #434455;
    --color-light-slate: #8E8F99;
    --color-cornflower: #E7E9FC;
    --color-cloud: #F4F4FD;
    --color-many-blue-modal: rgba(46, 47, 66, 0.08);
    --color-white: #FFFFFF;
}

.hide {
    display: none;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}


/*----------------- Logo ------------------*/

.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-navy-blue);
}

.logo_span {
    color: var(--color-iris);
}


/*----------------- Navigetion ------------------*/

.header {
    box-shadow: 0 2px 1px var(--color-many-blue-modal);
}

.nav-container {
    display: flex;
    align-items: center;
}

.menu-item,
.menu-auth {
    margin: 0;
    padding: 0;
}

.menu-item {
    margin-left: 77px;
    display: flex;
}

.menu-item .menu {
    margin-right: 40px;
}

.menu-item .menu:last-child {
    margin-right: 0;
}

.menu-item .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-navy-blue);
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}

.menu-item .menu-link:hover,
.menu-item .menu-link:focus {
    color: var(--color-slate);
}

.menu-item .menu-link:active {
    color: var(--color-iris);
}

.menu-auth {
    display: flex;
    margin-left: auto;
}

.menu-auth .auth-menu+.auth-menu {
    margin-left: 40px;
}

.item-auth {
    line-height: 1.5;
    color: var(--color-slate);
    text-decoration: none;
}

.item-auth:hover,
.item-auth:focus {
    color: var(--color-iris);
}


/*----------------- Hero ------------------*/

.hero {
    background-color: var(--color-navy-blue);
    padding-top: 192px;
    padding-bottom: 192px;
}

.title {
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    margin-top: 0;
    color: var(--color-white);
}


/*----------------- Buttoon ------------------*/

.btn {
    display: block;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    padding: 16px 32px;
    margin: 0 auto;
    color: var(--color-white);
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--color-iris);
}

.btn:hover,
.btn:focus {
    background-color: var(--color-iris);
}

.btn:active {
    background-color: var(--color-iris-active);
}


/*----- Button Portfolio -----*/

.button {
    font-family: inherit;
    cursor: pointer;
    color: var(--color-iris);
    font-weight: 500;
    font-size: 16px;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 1.5;
    background: var(--color-cloud);
    border: 1px solid var(--color-cornflower);
}

.button:active,
.button:hover,
.button:focus {
    color: var(--color-white);
    background-color: var(--color-iris);
}


/*----------------- Section ------------------*/

.container {
    width: 1158px;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.container-text {
    width: 264px;
    text-align: center;
    margin-top: 32px;
    padding-bottom: 32px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-nature {
    padding-bottom: 0;
}

.section-could {
    background-color: var(--color-cloud);
}

.section-title {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 72px;
    text-transform: capitalize;
}

.section-sybtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
}

.section--text {
    display: flex;
    margin: 0;
    padding: 0;
}

.section--text .list {
    margin-right: 24px;
}

.section--text .list:last-child {
    margin-right: 0;
}

.section-text {
    width: 256px;
    line-height: 1.5;
    color: var(--color-navy-blue);
}

.user-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.list_work {
    display: flex;
    padding: 0;
}

.list_work .list:not(:last-child) {
    margin-right: 24px;
}

.user-text {
    width: 264px;
    line-height: 1.2;
    color: var(--color-slate);
}

.user-item {
    background-color: var(--color-white);
    height: 380px;
    border-radius: 0px 0px 4px 4px;
}

.user-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.user-list .list:not(:last-child) {
    margin-right: 24px;
}

.card {
    display: block;
}


/*----------------- Footer ------------------*/

.logo_footer {
    color: var(--color-cloud);
}

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--color-navy-blue);
}

.footer-text {
    width: 265px;
    line-height: 1.5;
    padding-top: 16px;
    margin: 0;
    color: var(--color-cornflower);
}


/*----------------- Protfolio ------------------*/

.section-filter {
    padding-top: 96px;
    padding-bottom: 120px;
}

.list-filter {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.list-filter .item-filter+.item-filter:nth-child(-n+6) {
    margin-bottom: 49px;
}

.item-text {
    line-height: 1.5;
    color: var(--color-cloud);
}

.link-filter {
    color: var(--color-navy-blue);
    text-decoration: none;
}

.container-card {
    padding-top: 32px;
    padding-left: 16px;
}

.subtitile {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    margin-bottom: 8px;
    line-height: 1.2;
    color: var(--color-navy-blue);
}

.text {
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    color: var(--color-slate);
}

.filter {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 72px;
    justify-content: center;
}

.filter .list+.list {
    margin-left: 24px;
}

.item-filter {
    height: 420px;
    border: 0.5px solid var(--color-cloud);
    background-color: var(--color-white);
}